:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elementos base */

body {
  background-color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

header .logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 40px;
}

header .logo-menor {
  font-size: 37px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* principal */
.principal {
  font-size: 16px;
  background: linear-gradient(270deg, rgba(35, 22, 17, 0.4), rgba(0, 0, 0, 1)),
    url("../res/main-background.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 55px;
  width: 60%;
}

.box-item {
  height: 380px;
  width: 100%;
  display: block;
  border: solid 5px var(--preto);
}

.box-item:hover {
  border: none;
  transition: 3s ease all;
  cursor: pointer;
}

.carrosel {
  margin-top: 5px;
}

.container h3 {
  margin-bottom: 15px;
}

.h3 {
  margin-top: -25px !important;
  margin-bottom: 0 !important;
}
